%h1 デザイン一覧
- @designs.each do |design|
  .image{style: "background-image: url(#{design.image.url(:medium)}); width: 300px; height: 200px;"}
  = design.comment
  %span{id: "like-of-#{design.id}"}
    = render partial: 'likes/like', locals: { design: design, like: @like }
  - if design.user_id == current_user.id
    = link_to 'このデザインを削除する', design_path(design.id)
